.header {
    border-bottom: 1px solid #ececec;
  }

  .header-list {
    display: flex;
    margin-left: 93px;
  }
  
  .navig {
    display: flex;
    align-items: center;
  }

  .main {
    display: flex;
  }
  
  .header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
   
  .header-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .adress {
    margin-left: auto;
  }
  
  .header-link-email {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .header-icon-adres {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 10px;
  }
  .header-icon-email {
    width: 16px;
    height: 12px;
  }
  
  .header-icon-tel {
    width: 10px;
    height: 16px;
  }
  
  .header-link-tel {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
  
  
  