.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2f303a;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/fone.jpg);
  }
  
  .hero-title {
    margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btn-color);
  }
  
  .hero-btn {
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--btn-color);

    & {
      background-color: var(--accent-color);
    }
  }
 
  .hero-btn,
  .gallery-btm {
    cursor: pointer;
  }
  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-icon-email,
  .header-icon-tel {
    display: block;
    fill: currentColor;
    margin-right: 10px;
  }